
DJANGO_SECRET_KEY=<django_secret_key>

POSTGRES_DB=bookshop
POSTGRES_USER=bookuser
POSTGRES_PASSWORD=bookpass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# 소셜 관련 설정
GOOGLE_CLIENT_ID=발급받은 ID
GOOGLE_CLIENT_SECRET=발급받은 비밀번호
NAVER_CLIENT_ID=발급받은 ID
NAVER_CLIENT_SECRET=발급받은 비밀번호